title: Spillane Tech
description: Democratizing Enterprise IT for Small Business.
baseurl: ""
url: ""

markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

sass:
  sass_dir: assets/css
  style: compressed

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
